*{
    padding: 10;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: bisque;
}
 
#head{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: blueviolet;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#main {
    margin: auto;
    text-align: center;

}
#btn {
    background-color: brown;
}
